<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Ennead: Saga of the Liths</title>
  <link rel="stylesheet" href="css/style.css">
  <script type="text/javascript" src="javascript/script.js"></script>
</head>
<body>

  <h1> Welcome </h1>

  <div class="landing-modal">
    <img class="logo" src="images/EnnJPG.jpg" />
    <h1> The Ennead: Saga of the Liths </h1>
  </div>

</body>
</html>
