html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

nav {
/*  background-color: yellow;*/
  height: 200px;
}

.nav-element {
  background-color: pink;
  display: inline-block;
  text-align: center;
  width: 19%;
  /*height: 100%;*/
}

.logo-center {
  /*background: url('../images/EnnJPG.jpg') no-repeat center center fixed;*/
  /*background-image: url('../images/EnnJPG.jpg');*/
  /*background-color: red;*/
  background-size: cover;
  max-height: 100%;
  max-width: 20%;
}

.landing-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: maroon;
}
